<body>
    <div id="bottomBorder" class="d-flex justify-content-center">
        <h4 class="display-5">Search Results</h4>
    </div>

<div class = "container-fluid" ng-if="checkIsFilled() = true">
    <div class = "row">
        <div class="col-md-2 nopadding">
            <img class = "img-fluid" [src] = "searchImages[0]">
        </div>
        <div class="col-md-4 nopadding">
            {{searchTitles[0]}}
            <br>
            {{searchArtists[0]}}
            <br>
            <button class="btn btn-outline-secondary" value="View" id="viewDetails" (click) = "goToDetails(searchIDS[0])">View Details</button>
        </div>
    </div>
    <hr style = "height:2px; color:white">
    <div class = "row">
        <div class="col-md-2 nopadding">
            <img class = "img-fluid" [src] = "searchImages[1]">
        </div>
        <div class="col-md-4 nopadding">
            {{searchTitles[1]}}
            <br>
            {{searchArtists[1]}}
            <br>
            <button class="btn btn-outline-secondary" value="View" id="viewDetails" (click) = "goToDetails(searchIDS[1])">View Details</button>
        </div>
    </div>
    <hr style = "height:2px; color:white">
    <div class = "row">
        <div class="col-md-2 nopadding">
            <img class = "img-fluid" [src] = "searchImages[2]">
        </div>
        <div class="col-md-4 nopadding">
            {{searchTitles[2]}}
            <br>
            {{searchArtists[2]}}
            <br>
            <button class="btn btn-outline-secondary" value="View" id="viewDetails" (click) = "goToDetails(searchIDS[2])">View Details</button>
        </div>
    </div>
    <hr style = "height:2px; color:white">
    <div class = "row">
        <div class="col-md-2 nopadding">
            <img class = "img-fluid" [src] = "searchImages[3]">
        </div>
        <div class="col-md-4 nopadding">
            {{searchTitles[3]}}
            <br>
            {{searchArtists[3]}}
            <br>
            <button class="btn btn-outline-secondary" value="View" id="viewDetails" (click) = "goToDetails(searchIDS[3])">View Details</button>
        </div>
    </div>
    <hr style = "height:2px; color:white">
    <div class = "row">
        <div class="col-md-2 nopadding">
            <img class = "img-fluid" [src] = "searchImages[4]">
        </div>
        <div class="col-md-4 nopadding">
            {{searchTitles[4]}}
            <br>
            {{searchArtists[4]}}
            <br>
            <button class="btn btn-outline-secondary" value="View" id="viewDetails" (click) = "goToDetails(searchIDS[4])">View Details</button>
        </div>
    </div>
</div>
</body>



